.footer {
  display: flex;
  padding: 10px 150px;
  background-color: #000000;
  color: rgba(210, 210, 210, 0.727);
}
.footer::selection {
  background-color: var(--color-primary-light);
  color: black;
}
