.pass-bar-container {
  border-radius: 8px;
  width: 100%;
  height: 8px;
  background-color: rgba(226, 226, 226, 0.47);
  overflow: hidden;
}
.password-bar--,
.password-bar-Weak,
.password-bar-Medium,
.password-bar-Strong {
  height: 100%;
  border-radius: 8px;
  transition: all 0.2s ease;
}
.password-bar-- {
  width: 0%;
}
.password-bar-Weak {
  background-color: red;
  width: 33%;
}
.password-bar-Medium {
  background-color: orange;
  width: 66%;
}
.password-bar-Strong {
  background-color: var(--color-primary);
  width: 100%;
}
.password-container {
  display: flex;
  justify-content: space-between;
}
.password-body {
  font-size: 0.8em;
  color: #666;
}
.password-strength--,
.password-strength-Weak,
.password-strength-Medium,
.password-strength-Strong {
  font-weight: bold;
  font-size: 0.8em;
}
.password-strength-- {
  color: #666;
}
.password-strength-Weak {
  color: red;
}
.password-strength-Medium {
  color: orange;
}
.password-strength-Strong {
  color: var(--color-primary);
}
